* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  place-items: center center;
  padding: 1em;
  width: 100vw;
  height: 100vh;
}

header {
  grid-column: 1 / 4;
  border: 1px solid black;
  padding: 1em;
}
main {
  grid-column: 1 / 4;
  grid-row: 2 / span 3;
  border: 1px solid blue;
  padding: 1em;
  grid-auto-rows: minmax(100px, auto);
  width: 100%;
  height: 100%;
}
main form {
  padding: 0.5em;
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g h"
    "i i";
  justify-content: center;
  align-items: center;
  gap: 1em;
}
label,
input {
  display: block;
  font-size: 1em;
}
input {
  border-radius: 0.3em;
  margin-bottom: 0.5em;
  padding: 0.2em;
}
.firstname {
  grid-area: a;
}
.lasname {
  grid-area: b;
}
.othname {
  grid-area: c;
}
.mail {
  grid-area: e;
}
.number {
  grid-area: d;
}
.birth {
  grid-area: f;
}
#dob {
  width: 15em;
}
.sex {
  grid-area: g;
}
select {
  width: 22em;
  height: 3em;
  border-radius: 0.3em;
}
.color {
  grid-area: h;
}
#favcolor {
  width: 12em;
  height: 1.7em;
}
.submit {
  grid-area: i;
  margin: auto;
  padding: 0.5em;
  width: 90%;
}

footer {
  grid-column: 1 / span 3;
  border: 1px solid green;
  padding: 1em;
}
